* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, '游明朝', YuMincho, 'Hiragino Mincho ProN', Meiryo, serif;
}

p,a {
  color: rgba(131, 130, 130, 1.0);
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  padding: 45px 0 50px;
}

.header-left a {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.header-left p {
  font-size: 15px;
  margin-top: 5px;
}

.header-senter {
  display: none;
}

.header-senter a {
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
}

.header-right {
  display: none;
  font-size: 25px;
}

menu a {
  position: fixed;
  top: 15px;
  right: 10px;
  color: black;
  font-size: 25px;
  z-index: 10;
}

.top img {
  width: 100%;
  margin-bottom: 55px;
}

.top p {
  font-size: 23px;
}

article {
  margin-top: 65px;
}

article time {
  font-size: 14px;
  color: rgba(131, 130, 130, 0.7);
}

article h1 {
  font-size: 19px;
  margin: 7px 0 20px;
}

article p {
  font-size: 15px;
}

.page {
  margin: 65px 0 60px;
}

.page .btn {
  display: inline-block;
  font-size: 13px;
  padding: 12px 19px;
  border:  rgba(131, 130, 130, 0.3) solid 1px;
  text-decoration: none;
  margin-right: 5px;
}

.page .btn:nth-of-type(-n + 3) {
  display: none;
  color: black;
}

.page .btn:first-of-type {
  background: rgba(131, 130, 130, 0.1);
  border:  rgba(131, 130, 130, 0.3) solid 1px;
}

.btn .fa-angle-double-right {
  font-size: 5px;
  width: 15px;
  text-align: center;
}

.footer-up {
  padding: 60px 0;
  border-top: rgba(131, 130, 130, 0.3) solid 1px;
  border-bottom: rgba(131, 130, 130, 0.3) solid 1px;
}

.footer-up-flex {
  display: flex;
}

.footer-up-flex img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.introduction {
  padding: 25px 0 0 20px;
}

.introduction p {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-bottom: 11px;
}

.introduction a {
  font-size: 21px;
  margin-right: 15px;
  color: rgba(131, 130, 130, 0.8);
}

.footer-up-1 > p {
  font-size: 14px;
  margin: 20px 0 55px;
}

.footer-up h1 {
  font-size: 13px;
  margin-bottom: 27px;
}

.footer-up-2 p {
  font-size: 13px;
  margin-bottom: 140px;
}

.footer-up-3 a, .footer-up-4 a {
  display: block;
  font-size: 14px;
  text-decoration-color:  rgba(82, 32, 32, 0.2);
}

.footer-up time {
  display: block;
  font-size: 12px;
  color: rgba(131, 130, 130, 0.8);
  margin: 5px 0 15px;
}

.footer-up h1:last-of-type {
  margin-top: 80px;
}

.footer-up-4 a {
  margin-bottom: 15px;
}

.footer-up input {
  padding: 10px;
  width: 100%;
  margin-top: 60px;
  border: rgba(82, 32, 32, 0.2) solid 1px;
}

.footer-under {
  padding: 40px 0;
}

.footer-under > a {
  display: inline-block;
  font-size: 23px;
  margin: 0 25px 30px 0;
}

.footer-under > p {
  font-size: 13px;
}

.footer-under span {
  color: black;
}

@media screen and (min-width:481px) {

  .page .btn:nth-of-type(-n + 3) {
    display: inline-block;
  }

  .footer-up input {
    width: 50%;
  }

}

@media screen and (min-width:769px) {

  .container {
    width: 85%;
    margin: 0 auto;
  }

  header {
    padding: 60px 0 80px;
  }

  header > .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .header-left a {
    font-size: 40px;
  }

  .header-senter {
    display: block;
  }

  .header-right {
    display: block;
  }

  menu {
    display: none;
  }

  .top img {
    display: block;
    width: 85%;
    margin: 0 auto 55px;
  }

  article > .container {
    display: flex;
    justify-content: space-between;
  }

  .article-right {
    width: 70%;
  }

  article time {
    font-size: 16px;
  }

  article h1 {
    font-size: 22px;
  }

  article p {
    font-size: 18px;
  }

  .page > .container {
    display: flex;
    justify-content: space-between;
  }

  .page {
    margin: 80px 0 100px;
}

  .footer-up {
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
  }

  .footer-up-1 {
    width: 250px;
  }

  .footer-up-2 {
    width: 200px;
  }

  .footer-up-3 {
    width: 150px;
  }

  .footer-up-4 {
    width: 230px;
  }

  .footer-up h1:last-of-type {
    margin-top: 0;
  }

  .footer-up-2 p {
    font-size: 16px;
    margin-bottom: 0;
  }

  .footer-up-1 > p {
    font-size: 16px;
    margin: 20px 0 20px;
}

.footer-up-3 a,.footer-up-4 a {
  font-size: 17px;
}

.footer-up input {
  font-size: 18px;
  width: 100%;
}

.footer-under {
  width: 100%;
  padding: 60px 0;
}

.footer-under > p {
  font-size: 15px;
  margin-left: 190px;
  display: inline-block;
}
}